@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@include foundation-flex-classes;
@include foundation-flex-grid;

/*
 * Global CSS
 */

.modal{
  border:3px solid rgb(41, 77, 197);
  border-radius: 1%;
  display: block;
  width:600px;
  height:200px;
  margin: auto;
  opacity: 100;
}
 .header{
  text-align: center;
  margin: auto;
  width:50%;
}
.heading{
margin:auto;
text-align: left;

}
.inputbox{
  margin:auto;
  width:50%;
  float:left;
  display: inline;
}
.btn_{
  margin:2px;
  margin-left: 4px;
  float:left;
 // border:1px solid black;
  border-radius: 4px;
}
.table{
  margin:auto;
  margin-top: 60px;
  width:50%;
  border:1px solid black;
}
