@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@include foundation-flex-classes;
@include foundation-flex-grid;

/*
 * Global CSS
 */

.header{

  margin: auto;
  width:50%;
}
.heading{
margin:auto;
text-align: left;

}
.inputbox{
  margin:auto;
  width:50%;
  display: inline;
}
.btn_{
  margin:5px;

}
.table{
  margin:auto;
  width:50%;
  border:1px solid black;
}
